[submodule "src/exosuite-optimized"]
	path = src/exosuite-optimized
	url = https://github.com/MasterUser007/ExoSuite.git
[submodule "ExoSuite"]
	path = ExoSuite
	url = ./ExoSuite
[submodule "FactorEngine"]
	path = FactorEngine
	url = ./FactorEngine
[submodule "QuantumHash"]
	path = QuantumHash
	url = ./QuantumHash
